// Buttons

.big-button {
    display: block;
    margin: auto;
    background: $white;
    color: $granitegray;
    font-size: $large;
    font-weight: $bold;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 28px;
    padding-bottom: 28px;
    border-radius: 80px;
    border: none;
  
  }