p {
    font-family: $raleway;
    font-weight: $regular;
    font-size: $medium;
    color: $granitegray;
  }
  
  h3 {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $large;
    color: $granitegray;
    text-align: center;
  }
  
  
  h2 {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $x-large;
    color: $white;
    text-align: center;
  }
  
  h1 {
    color:$white;
    font-family: $raleway;
    font-weight: $bold;
    font-size: $xx-large;
    text-align: center;
   }