// Header 

.header {
    background-color: $jellybean;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .header__Title-up {
    font-weight: $extra-light;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .header__Title-down{
    margin-top: 0px;
    padding-top: 0px;
  
  }