//Main-sections 

.main__section {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  .main__section-tgray {
    background-color: $taupegray;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  .main__section-sgray {
    background-color: $snow;
    padding-top: 100px;
    padding-bottom: 50px;
  
  }
  
  .main__section-red {
    background-color: $jellybean;
    padding-top: 50px;
    padding-bottom: 50px;
  
  }
  
  .main__section-img {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
  }
  
  .main__section-h3-white {
    color: $white;
  }
  
  
  .main__section-p {
    width: 50%;
    display: block;
    margin: auto;
  }
  
  .main__section-p-white {
    width: 50%;
    display: block;
    margin: auto;
    color: $white;
  }
  
  .main__section-div1 {
    background-color: $jellybean;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .main__section-div2-div-img {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 100px;
  }